div.Banner {
  margin: 0.5vw;
  padding: 0 2vw;
  text-align: center;
  font-weight: bold;
  font-size: 2vw;
  color: #12355B;
  background-color: #F0EFF4;
  border: 0.25vw solid #12355B;
  border-radius: 1.5vw;
}